[{mdns_client_lib,
     [{pool_max,5},
      {pool_initial,5},
      {max_downvotes,5},
      {retry_delay,150},
      {max_retries,4},
      {recv_timeout,1500},
      {service,"generic"},
      {multicast_group,{"224.0.0.251",5353}},
      {domain,".local"},
      {interface,{10,10,1,42}},
      {address,{224,0,0,251}},
      {port,5353}]},
 {snmp,[{agent,[{db_dir,"/var/db/howl"},{config,[{dir,"snmp/conf/"}]}]}]},
 {folsom_ddb,
     [{vm_metrics,false},{interval,1000},{prefix,"sniffle"},{bucket,"fifo"}]},
 {dqe,
     [{max_read,1209600},
      {get_chunk,100000},
      {pool_max,50},
      {pool_size,20},
      {backend,{"127.0.0.1",5555}}]},
 {fifo_s3,
     [{download_retry,3},
      {download_preload_chunks,10},
      {download_pool_max,15},
      {download_pool_size,10},
      {upload_retry,3},
      {upload_pool_max,15},
      {upload_pool_size,10}]},
 {lager,
     [{error_logger_hwm,100},
      {crash_log_count,5},
      {crash_log_date,"$D0"},
      {crash_log_size,10485760},
      {crash_log_msg_size,65536},
      {crash_log,"/var/log/howl/crash.log"},
      {service,"howl"},
      {handlers,
          [{lager_file_backend,
               [{file,"/var/log/howl/console.log"},
                {level,info},
                {size,10485760},
                {date,"$D0"},
                {count,5}]},
           {lager_file_backend,
               [{file,"/var/log/howl/error.log"},
                {level,error},
                {size,10485760},
                {date,"$D0"},
                {count,5}]},
           {lager_file_backend,
               [{file,"/var/log/howl/debug.log"},
                {level,debug},
                {size,10485760},
                {date,"$D0"},
                {count,5}]}]},
      {error_logger_redirect,true}]},
 {riak_core,
     [{vnode_management_timer,10000},
      {use_background_manager,false},
      {enable_consensus,false},
      {platform_log_dir,"/var/log/howl"},
      {platform_lib_dir,"./lib"},
      {platform_etc_dir,"./etc"},
      {platform_data_dir,"/var/db/howl"},
      {platform_bin_dir,"./bin"},
      {dtrace_support,false},
      {disable_inbound_handoff,false},
      {disable_outbound_handoff,false},
      {handoff_port,8499},
      {handoff_ip,"127.0.0.1"},
      {ring_state_dir,"/var/db/howl/ring"},
      {handoff_concurrency,2},
      {ring_creation_size,64},
      {default_bucket_props,[{n_val,3}]},
      {aae_fadvise_willneed,false},
      {aae_eleveldb_threads,71},
      {aae_verify_compaction,true},
      {aae_verify_checksums,true},
      {aae_block_restart_interval,16},
      {aae_sst_block_size,4096},
      {aae_write_buffer_size_max,62914560},
      {aae_write_buffer_size_min,31457280},
      {aae_limited_developer_mem,false},
      {aae_sync,false},
      {aae_total_leveldb_mem_percent,80},
      {anti_entropy_data_dir,"/var/db/howl/anti_entropy"},
      {anti_entropy_tick,15000},
      {anti_entropy_concurrency,2},
      {anti_entropy_expire,604800000},
      {schema_dirs,["./share/schema"]},
      {anti_entropy,{on,[]}},
      {anti_entropy_build_limit,{1,3600000}},
      {aae_use_bloomfilter,true}]},
 {howl,
     [{ssl_cacertfile,"/var/db/fifo/fifo.crt"},
      {ssl_keyfile,"/var/db/fifo/fifo.key"},
      {ssl_certfile,"/var/db/fifo/fifo.pem"},
      {w,3},
      {r,2},
      {n,3},
      {ssl_port,443},
      {ssl,on},
      {compression,true},
      {http_port,80},
      {acceptors,100},
      {tcp_port,4240}]},
 {wiggle,
     [{caching,false},
      {ui_path,"/opt/local/fifo-cerberus"},
      {http_server,false},
      {token_ttl,{1000,60000}},
      {package_ttl,{60000,600000}},
      {package_list_ttl,{10000,60000}},
      {dataset_ttl,{60000,60000}},
      {dataset_list_ttl,{10000,60000}},
      {dtrace_ttl,{60000,60000}},
      {dtrace_list_ttl,{10000,60000}},
      {hypervisor_ttl,{10000,60000}},
      {hypervisor_list_ttl,{1000,10000}},
      {iprange_ttl,{10000,60000}},
      {iprange_list_ttl,{1000,10000}},
      {network_ttl,{60000,600000}},
      {network_list_ttl,{10000,60000}},
      {org_ttl,{60000,600000}},
      {org_list_ttl,{10000,60000}},
      {role_ttl,{60000,600000}},
      {role_list_ttl,{10000,60000}},
      {user_ttl,{60000,600000}},
      {user_list_ttl,{10000,60000}},
      {vm_ttl,{100,5000}},
      {vm_list_ttl,{100,1000}},
      {grouping_ttl,{10000,60000}},
      {grouping_list_ttl,{1000,10000}}]},
 {mdns_server_lib,
     [{service,"howl"},
      {ttl,120},
      {domain,".local"},
      {listener,{"10.10.1.42",4240}},
      {interface,{10,10,1,42}},
      {handler,howl_tcp_protocol},
      {disabled,false}]},
 {fifo_db,[{db_path,"/var/db/howl"}]},
 {sasl,[{sasl_error_logger,false}]},
 {libsnarl,[{realm,<<"default">>}]}].
